:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}

* {
    margin: 0;
}

body {
  height: 100vh;
  width: 100vh;
  background-image: url(./assets/read_news.jpg);
  background-repeat: no-repeat;
  background-size: 1560px 800px;
}